body {
  text-align: center;
}

.div1{
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.div2{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.div3{
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.div4{
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}


ul, ol {
  list-style: none;
  color: #828282a4;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

h1,h3,p {
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
} 
h2{
  color: rgba(255, 0, 0, 0.699);
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
}

#level-title {
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 40%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(5px); 
}
.bottom{
  background-color: #011F3F;
  margin: 0 25%;
  padding: 10px;
  border-radius: 10px;
  
}
